H1 {
    
}
body {
    background-color: rgb(213, 176, 176);
}
h3 {
    background-color: rgb(44, 44, 186);
}
p {
    color: rgb(232, 232, 242);
    font-family: MyriadPro-bold;
    font-size: 16px;
    text-align: center;
}