#gallery img{
    height: 20vh;
    width: 20vh;
    object-fit: cover;
}
#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
main {

    display: flex;
    flex-direction: row;
    align-items: center;
}
h1{
    text-align: center;
    margin-left: 0%;
}
ul li {
    display: flex;
    flex-direction: row;
    position: sticky;
    color: antiquewhite;
    align-items: center;
   
   
}
.text {
    text-align: center;
    justify-content: space-evenly;
    color: rgb(253, 253, 253);
    object-position: left;
}
nav {
    background-color: rgb(8, 8, 8); width: 1920px;
    padding: px;
    margin: 5x;
    align-content: center;
 justify-content: left;
 color: antiquewhite;

 

}
body {
    background-color: bisque;
    color: rgb(113, 128, 128);
    
}
li,ul {
    list-style: none;
    justify-content:space-evenly;
    color: rgb(182, 148, 104);
   
    
    
}
.dropdown menu {
    display: flex;
    
    
    
    opacity: 0px;
}
.Trigger-dropdown {
    opacity: 1px;
    display: flex;
    position: absolute;
}
 .logo {
    justify-content: space-around;
    width: 100px;
   float: right;
   object-position: left;
   margin-right: 0px;

    
    
    
}
.cookie {
   size-adjust: 800px;
}
img, li {
    
}
h1{
    text-align: center;
}
.food{
    justify-content: center;
    padding:70px;
}
/*media Query*/
@media only screen and (max-width:768px) 
{
    ul{
        flex-direction: column;
        height: 10vh;
    }

}
    
@media screen and (max-width:768px) {

    #gallery {
    grid-template-columns: 1fr;
}


#gallery img {
    width:100%;
    height: auto;

}
}