main{
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    background-image: url("../assets/disney.webp");
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   

}
#logo1{
    
}
#logo2{
   
}
.grid-list{
    display: flex;
    flex-direction: row;
}
.ignup{
    margin: 5vh;
   
    
}
.secondary{
    
    margin: 15vh;
}
h6{
    justify-content: center;
}